<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/common/headCom::head"></th:block>
	<th:block th:include="/common/headCom::tapmenu"></th:block>
	<script type="text/javascript" th:src="@{/js/tapContent.js}"></script>
</head>

<body>
	<th:block th:insert="/common/commons::header"></th:block>
	<main>
		<h1>안내 게시판</h1>
		<div class="content-wrap">
			<div class="title">
				<p class="tap">도서관안내</p>
			</div>
			<div class="tap-wrap">
				<th:block th:insert="/common/tapmenu::tap-tit"></th:block>
				<nav class="tap-navi">
					<button type="button" th:value="greetings">인사말</button>
					<button type="button" th:value="useinfo">이용안내</button>
				</nav>
			</div>
			<section id="infoContent">

			</section>
		</div>
	</main>
	<th:block th:insert="/common/commons::footer"></th:block>
</body>
<script type="text/javascript">
$(function(){
	pageLoading();
});

function pageLoading(){
	$(".tap-navi button").eq(0).click();
}
$(".tap-navi button").click(function(){
	var page=$(this).val();
	$.ajax({
		type: "get" ,
		url: "/board/information/"+page,
		dataType: "html",
		success:function(data){
			//alert("성공");
			$("#infoContent").html(data);}
		,error : function(){ alert("에러 발생");}
		
	});
});
</script>

</html>