<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>이제웅의 spring web 프로젝트</title>
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<link rel="stylesheet" href="/css/common/footer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<!-- tapmenu 공통 css,js -->
<th:block th:fragment="tapmenu">
	<link rel="stylesheet" href="/css/boardcss/boardcom.css">
	<script type="text/javascript" th:src="@{/js/tapmenu.js}"></script>
	
</th:block>
</html>


	