<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="tap-tit">
	<ul class="tap-wrap flex">
		<li>
			<button class="tap-tit" name="tap1" type="button"><span>도서관안내</span></button>
		</li>
		<li>
			<button class="tap-tit" name="tap2" type="button"><span>도서자료</span></button>
		</li>
		<li>
			<button class="tap-tit" name="tap3" type="button"><span>열린마당</span></button>
		</li>	
		<li>
			<button class="tap-tit" name="tap4" type="button"><span>나의도서관</span></button>
		</li>	
	</ul>
</th:block>
</html>