<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/boardcss/material/detailsearch.css">
<title>Insert title here</title>
</head>

<body>
	<section class="divWrap">
		<div>
			<p>도서검색</p>
		</div>
	</section>
	<!-- 검색창 영역 -->
	<section class="searchWrap">
		<div>
			<p>책 제목을 검색해주세요</p>
			<input type="text" id="searchText" placeholder="도서명을 입력하세요">
			<button type="button" id="btn-naverBookSearch">검색</button>
			<img src="">
		</div>
	</section>
	<!-- 목록 출력 -->
	<section id="showBookList">
		
	</section>
	<!-- 페이징 버튼처리 -->
	<section id="pagging" class="flex center">
		
	</section>
</body>
<script type="text/javascript">
	$(function(){
		$("#btn-naverBookSearch").click(getBookSearchList);
	});
	function getBookSearchList(){
		var search=$("#searchText").val();
		//alert(search);
		$.ajax({
			url:"/board/naverBookSearch",//요청주소
			data:{search : search},//key("문자열") : value
			success:function(result){
				$("#showBookList").html(result);
			}
		});		

	}

</script>
</html>