<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org">
<head>
	<th:block th:include="/admin/common::head"/>
</head>
<body>
	<main>
		<h1>관리자페이지입니다.</h1>
		<div class="wrap flex">
			<th:block th:insert="/admin/common::menu"/>
			<section id="content">
				<h1>내용</h1>
				<div class="wrap">
					<p>QNA Board 글쓰기 입니다.</p>
					<form action="/admin/qna/write" method="post">		
						<p>
							작성자 : <input type="text" name="writer">
						</p>
						<p>
							제목 : <input type="text" name="title">
						</p>
						<p>
							내용 : <textarea rows="3" cols="30" name="content"></textarea>
						</p>
						<p>
							<button type="submit">등록</button>
						</p>
					</form>
				</div>
			</section>
		</div>
	</main>
</body>
</html>