<!DOCTYPE html>
<html xmlns:th="https//www.thymeleaf.org">
<head>
<th:block th:include="/common/commons::head"></th:block>
<link rel="stylesheet" href="/css/boardcss/open/write/notice.css">
</head>
<body>
	<th:block th:insert="/common/commons::header"></th:block>
	<main>
		<section id="fromWrap">
			<form action="/board/notice/write" method="post">
				<!-- ContentsWrap -->
				<div id="contentsWrap">
					<!-- Title -->
					<div>
						<p id="title_p">공지사항</p>
					</div>
					<!-- //Title -->
					<!-- Contents -->
					<div id="contents">
						<!-- write -->
						<h1>공지사항 작성하기</h1>
						<ul class="notice-write flex">
							<li class="con_tit">
								<span>제목</span>
								<input id="title" name="title" type="text" />
							</li>
							<li class="con_writer">
								<span>작성자</span>
								<select name="writer">
									<option>담당자</option>
									<option>관리자</option>
								</select>
							<li>
						</ul>
						<ul class="notice_content">		
							<li class="con_text">
								<textarea id="content" name="content" title="내용을 작성하세요." rows="10" cols="100"></textarea>
							</li>
						</ul>
						<!-- //write -->

						<!-- button -->
						<div class="board_bottom flex center">
							<p class="rigth">
								<span class="btnOk">
									<button type="submit">등록</button>
								</span> 
								<span class="btnCancel">
									<button type="button">취소</button>
								</span>
							</p>
						</div>
						<!-- //button -->
					</div>
					<!-- //Contents -->
				</div>
				<!-- //ContentsWrap -->
			</form>
		</section>
	</main>
	<th:block th:insert="/common/commons::footer"></th:block>
</body>
<script type="text/javascript">
var pageNo=1;
$(".btnCancel").click(function(){
	$(location).attr("href", "/board/open/notice/"+pageNo);
});
</script>
</html>